    html,
    body,
    header,
    .bg-index {
      height: 100%;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .bg-index {
        height: 1000px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .bg-index {
        height: 650px;
      }
    }
    .top-nav-collapse {
      background-color: #1C2331;
    }

    @media only screen and (max-width:990px){
      .navbar{
        background-color:#1C2331
      }
    }
 
    @font-face {
      font-family: 'P_Cursive'; 
      src: url('../font/Personalizado/Beautiful.ttf'); /*URL to font*/
  }

 



  